{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}

<div class="container-fluid my-4">
    <div class="custom-box-poney">
        <h1 class="text-center">Les Poneys</h1>
    </div>
</div>

<main class="container py-5">
    <div class="row">
        {% for i in range(1, 7) %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/poney_placeholder.jpeg') }}" class="card-img-top pony-image" alt="Poney {{ i }}">
                <div class="card-body">
                    <h5 class="card-title text-center">Poney {{ i }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}