<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Créer un compte{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_creer_compte.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container-fluid vh-100 d-flex align-items-center">
        <div class="row w-100">
            <div class="col-md-6 d-flex justify-content-start align-items-stretch position-relative" style="padding: 0;">
                <img src="{{ url_for('static', filename='images/ph_table_large.png') }}" alt="My'Stage" class="img-fluid full-height">
                <h2 class="overlay-text">My'Stage</h2>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='images/logo_iut.png') }}" alt="IUT Orléans" class="logo">
                    <h2 class="create-title">Créer un compte</h2>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="container mt-3">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('creer_compte') }}" method="post">
                        <div class="form-group text-left">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Votre prénom" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="fonction">Fonction</label>
                            <select class="form-control" id="fonction" name="fonction" required>
                                <option value="" disabled selected>Choisissez votre fonction</option>
                                <option value="Responsable">Responsable de formation</option>
                                <option value="Enseignant">Enseignant</option>
                                <option value="Secretaire">Secrétaire</option>
                            </select>
                        </div>
                        <div class="form-group text-left">
                            <label for="departement">Département</label>
                            <select class="form-control" id="departement" name="departement" required>
                                <option value="" disabled selected>Choisissez votre département</option>
                                <option value="informatique">Informatique</option>
                                <option value="chimie">Chimie</option>
                                <option value="gea">GEA</option>
                                <option value="qlio">QLIO</option>
                                <option value="mt2e">MT2E</option>
                                <option value="gmp">GMP</option>
                            </select>
                        </div>                        
                        <div class="form-group text-left">
                            <label for="identifiant">Identifiant</label>
                            <input type="text" class="form-control" id="identifiant" name="identifiant" placeholder="Votre identifiant" required>
                        </div>
                        <div class="form-group text-left"> 
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe" required>
                        </div>                        
                        <div class="create-account-btn">
                            <button type="submit" class="btn-create-account btn btn-block">Créer mon compte</button>
                            <p class="p-deja-compte"> Vous avez déjà un compte ? <a  class="deja-compte" href="{{ url_for('connexion') }}">Connectez-vous !</a></p>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>