
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

html {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    padding: 0 20px;
}

.navbar-brand img {
    height: 50px; /* Taille du logo */
    margin-top: 15px; /* Ajoute un peu d'espace en haut */
}

/* Ajoute du padding top sur les liens de navigation */
.navbar-nav .nav-link {
    color: #14245A !important;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 50px;
    margin-top: 15px; /* Espace en haut des liens */
}


/* Style par défaut du bouton */
.btn-connexion {
    background-color: #14245A; /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
    border: none;
    padding: 10px 20px;
    margin-left: auto; /* Pousse le bouton vers la droite */
    margin-top: 15px; /* Ajoute un peu d'espace en haut */
}

/* Style au survol du bouton */
.btn-connexion:hover {
    background-color: #1f3788; /* Couleur violet plus clair au survol */
    color: white; /* Reste blanc */
}

/* Ajuste le conteneur de la navbar pour un bon alignement */
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    color: #14245A;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px; 
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.link-commencer::after {
    content: ' ➔';
    margin-left: 5px;
}

.list-inline {
    margin: 20px;
}

.list-inline-item {
    margin-right: 40px;
    margin-left: 40px;
}

/* Forcer le bouton à se positionner à droite */
.ml-auto {
    margin-left: auto;
}

.custom-box {
    background-image: url('/static/images/ph_table_banner.png');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 80px;
    position: relative;
    height: 400px; /* Ajustez la hauteur de la bannière */
    width: 100%; /* Permet d'occuper toute la largeur */
    margin: 0; /* Supprime les marges externes */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0; /* Évite un espace au-dessus */
    border-radius: 0; /* Enlevez la bordure arrondie si nécessaire */
}

.custom-box h1{
    margin: 0; /* Supprime les marges par défaut */
    position: relative; /* Pour le z-index si besoin */
    z-index: 2; /* S'assurer que le texte reste au-dessus */
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
}

.container {
    max-width: 100% !important;
}

.container .row {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .container .row {
        justify-content: space-between; /* Espace maximal entre les colonnes */
    }
}

@media (min-width: 768px) {
    .offset-md-1 {
      margin-left: 0; /* Enlève le margin-left */
    }
  }


.container .col-md-5 h2 {
    font-weight: bold;
    margin-bottom: 50px;
    color: #14245A;
}


.container .col-md-5 p {
    font-size: 18px;
    line-height: 1.6;
    color: #14245A;
    margin-bottom: 50px;
    max-width: 80%; /* Réduit la largeur du texte pour qu'il ne prenne pas toute la largeur */
    margin: 0 auto; /* Centre le texte */
    
}

.container .col-md-5 img{
    margin-top: 50px;
}

.container .btn-primary {
    background-color: #14245A;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
}

.container .btn-primary:hover {
    background-color: #1f3788;
    color: white;
}






.footer, .custom-box {
    background-color: #14245A;
    color: white;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: auto; /* Force le footer à occuper le bas de page */
    flex-shrink: 0;
}